* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

.navber>div[style="font-weight: bold;"] {
    font-size: 32px;
}

.navber-right {
    display: flex;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navber-right div:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    padding: 0 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 15px 5px;
    border-bottom: 4px solid transparent;
}

.menu a.active {
    font-weight: bold;
    border-bottom: 4px solid black;
}

.menu a:hover {
    color: #333;
    border-bottom: 4px solid #333;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.col-left,
.col-center,
.col-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-img,
.featured-img {
    width: 100%;
    background-color: #ddd;
    display: block;
    object-fit: cover;
}

.news-img {
    height: 150px;
}

.featured-img {
    height: 350px;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 10px;
}

.meta {
    font-size: 12px;
    color: #777;
    border-left: 3px solid #cc0000;
    padding-left: 8px;
}

.live-badge {
    background-color: #cc0000;
    color: white;
    padding: 2px 6px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

.sub-headlines {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.sub-headlines li {
    font-size: 14px;
    font-weight: bold;
    border-left: 3px solid #333;
    padding-left: 10px;
    margin-bottom: 5px;
}

.news-list-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}


.only-bbc-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px 20px;

}

.section-header {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 25px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    letter-spacing: 0.5px;
}

.bbc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.bbc-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    background-color: #ddd;
    display: block;
    margin-bottom: 15px;
}

.bbc-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111;
    font-weight: bold;
}

.bbc-card p {
    font-size: 15px;
    color: #555;
    line-height: 1.5;
}
